os: unstable 

platform:
 - x86

install:
  - ps: (new-object System.Net.WebClient).Downloadfile("https://downloads.sourceforge.net/project/mingw-w64/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/4.9.2/threads-posix/dwarf/i686-4.9.2-release-posix-dwarf-rt_v3-rev0.7z", "c:\mingw.7z")
  - 7z x -y "c:\mingw.7z" -o"C:\" > nul
  - set PATH=C:\Program Files (x86)\MSBuild\12.0\bin\;C:\mingw32\bin;%QTDIR%\bin;%PATH%
  - ps: (new-object System.Net.WebClient).Downloadfile("http://itdaniher.com/static/libusb-1.0-hp.7z", "c:\libusb.7z")
  - 7z x -y "c:\libusb.7z" -o"C:\libusb" > nul
  - ps: (new-object System.Net.WebClient).Downloadfile("https://raw.githubusercontent.com/ogrisel/python-appveyor-demo/master/appveyor/install.ps1", "c:\install.ps1")
  - set PYTHON=C:\Python27
  - set PYTHON_VERSION="2.7.8"
  - set PYTHON_ARCH="32"
  - powershell c:\install.ps1
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

build_script:
  - mingw32-make 
  - mingw32-make python
  - dlltool --export-all-symbols -l libsmu.lib -z libsmu.def libsmu.dll
  - appveyor PushArtifact smu.exe
  - appveyor PushArtifact libsmu.dll
  - appveyor PushArtifact libpysmu.dll
  - appveyor PushArtifact libsmu.lib
  - appveyor PushArtifact libsmu.def

cache:
  - C:\Python27 -> appveyor.yml
